<div>{{> nav/nav-block}}</div>
<div class="card formCol">
    <div class="card-body cardCol">
        <form action="/bid" method="PUT" class="text">
            <div class="form-group">
                <label for="Bid" class="fText ">Enter Your Bid Price</label>
                <input type="text" class="form-control" name="bid">
            </div>
            <button type="submit" class="submit fText">Submit</button>
        </form>
    </div>
</div>