<header class="row">

</header>
<div class="row">
    <div class="col-md-6 column">

        <ul class="items">
            {{#each items}}
            <li>
                <p>{{item_name}}</p>
                <p>{{descript}}</p>
                <p>{{highest_bid}}</p>
                </li>            
            {{/each}}
        </ul>
    </div>

</div>


