<div>{{> nav/nav-block}}</div>
<div class="card formCol">
    <div class="card-body cardCol">
        <form action="/sell" method="POST" class="text">
        {{#each errors}}
        <div class="sellErrors">
          <p>{{text}}</p>
        </div>
        {{/each}}
            <div class="form-group">
                <label for="category" class="fText ">Category</label>
                <select class="form-control form-control-lg" name="category">
                    <option></option>
                    <option>Weapon</option>
                    <option>Armor</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group special-form">
                <label for="itemType" class="fText ">Item Name</label>
                <select class="form-control form-control-lg" name="itemName">
                    <option></option>
                    <option>Katana</option>
                    <option>Naginata</option>
                    <option>Yumi</option>
                    <option>Tanto</option>
                    <option>Helmet</option>
                    <option>Yoroi Armour</option>
                    <option>Tatami-Gusoku</option>
                    <option>Hoate</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group">
                <label for="description" class="fText ">Item description</label>
                <textarea class="form-control" name="descript" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="startBid" class="fText ">Starting Bid Price</label>
                <input type="text" class="form-control" name="startingBid">
            </div>
            <div class="form-group" id="checkbox">
                <label for="replica">Check below</label><br>
                <input type="radio" name="replica" value="1"> Replica<br>
                <input type="radio" name="replica" value="0"> Authentic
            </div>
            <!--<form id="uploadForm" enctype="multipart/form-data">
                <label for="description">File Description:</label>
                <input type="text" name="description" placeholder="File Description" id="description" />-->

                <!-- the name attribute here ('upload') must match the key following 'req.files' in your back-end route! -->
                <!--<label for="upload">Upload File:</label>
                <input type="file" name="upload" id="upload"/>

                <input type="submit" value="Upload File" id="submitUpload" >
            </form>-->

            <button type="submit" class="submit fText">Submit</button> 
        </form>
    </div>
</div>