<div>{{> nav/nav-block}}</div>
<div class="card formCol">
    <div class="card-body cardCol">
        <form action="/sell" method="POST" class="text">
            {{#each errors}}
            <div class="sellErrors">
                <p>{{text}}</p>
            </div>
            {{/each}}
            <div class="form-group">
                <label for="category" class="fText ">Category</label>
                <select class="form-control form-control-lg" name="category">
                    <option></option>
                    <option>Weapon</option>
                    <option>Armor</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group special-form">
                <label for="itemType" class="fText ">Item Name</label>
                <select class="form-control form-control-lg" name="itemName">
                    <option></option>
                    <option>Katana</option>
                    <option>Naginata</option>
                    <option>Yumi</option>
                    <option>Tanto</option>
                    <option>Helmet</option>
                    <option>Yoroi Armour</option>
                    <option>Tatami-Gusoku</option>
                    <option>Hoate</option>
                </select>
                <small id="selectHelper" class="form-text text-muted">Select from dropdown</small>
            </div>
            <div class="form-group">
                <label for="description" class="fText ">Item description</label>
                <textarea class="form-control" name="descript" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="startBid" class="fText ">Price</label>
                <input type="text" class="form-control" name="highestBid">
            </div>
            <div class="form-group" id="checkbox">
                <label for="replica">Check below:</label><br>
                <input type="radio" name="replica" value="1" checked> Replica<br>
                <input type="radio" name="replica" value="0"> Authentic
            </div>
            <div class="buffb">
                <p>Image: <span>optional</span></p>
                <a href="/upload" target="blank">click to attach &#128444;</a>
            </div>

            <button type="submit" class="submit fText">Submit</button>
        </form>
    </div>
</div>