<div id="mySidebar" class="sidebar text">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button class="open-button loginBtn text fText" onclick="openForm()">Sign in</button>
  <a href="/">Home</a>
  <a href="/sell">Sell</a>
  <h4>Search by item:</h4>
  <a href="/sell">Katana</a>
  <a href="">Naginata</a>
  <a href="">Yumi</a>
  <a href="">Tanto</a>
  <a href="">Helmet</a>
  <a href="">Yoroi Armour</a>
  <a href="">Hoate</a>
  
</div>
<div id="main">
<button class="openbtn" onclick="openNav()">&#9776;</button>
</div>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <a href="/signup">Create Account</a>
        
        <button type="submit" class="btn buff">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>