<div id="mySidebar" class="sidebar text">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button class="open-button loginBtn text fText" onclick="openForm()">Sign in</button>
  <a href="/">Home</a>
  <a href="/sell">Sell</a>
    <h4 class="navSearch">Search by category:</h4>
  <a href="/cat?category=armor">Armor</a>
  <a href="/cat?category=weapon">Weapon</a>
  <h4 class="navSearch">Search by item:</h4>
  <a href="/search?itemname=katana">Katana</a>
  <a href="/search?itemname=naginata">Naginata</a>
  <a href="/search?itemname=yumi">Yumi</a>
  <a href="/search?itemname=tanto">Tanto</a>
  <a href="/search?itemname=helmet">Helmet</a>
  <a href="/search?itemname=yoroi armour">Yoroi Armour</a>
  <a href="/search?itemname=hoate">Hoate</a>

</div>
<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>

<div class="form-popup" id="myForm">
  <form  class="form-container" id="siteLog">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email-input" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password-input" required>
    <a href="/signup">Create Account</a>

    <button type="submit" class="btn buff" id="dis" >Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>