<div id="mySidebar" class="sidebar text">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
  <a href="/sell">Sell</a>
  <h4>Search by item:</h4>
  <a href="/sell">Katana</a>
  <a href="">Naginata</a>
  <a href="">Yumi</a>
  <a href="">Tanto</a>
  <a href="">Helmet</a>
  <a href="">Yoroi Armour</a>
  <a href="">Hoate</a>
  
</div>
<div id="main">
<button class="openbtn" onclick="openNav()">&#9776;</button>
</div>